<html>
  <head>
    <title>wifiWatt Control Panel</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <script type="text/javascript" src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script type="text/javascript" src="/static/smoothie.js"></script>
    <script type="text/javascript" src="/static/wwApp.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/960.css" />
    <link rel="stylesheet" type="text/css" href="/static/text.css" />
    <link rel="stylesheet" type="text/css" href="/static/wwStyle.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/static/prettyCheckboxes.css" /> -->
  </head>
  <body>
    <div class="container_12">
      <div id="console"></div>

      <div class="grid_12"><div id="headerPanel">
        <h1>WifiWatt</h1>
        <span>A CMU build18 project by <a href="mailto:bwasserm@andrew.cmu.edu">Ben Wasserman</a>, <a href="mailto:nabcouwer@andrew.cmu.edu">Neil Abcouwer</a>, <a href="mailto:amort@andrew.cmu.edu">Andrew Mort</a>, and <a href="mailto:ihartwig@andrew.cmu.edu">Ian Hartwig</a></span>
      </div></div>
      
      <div class="clear"></div>
      <div id="nodeList" class="grid_5">
        <div id="nodeListSelTools"
          <a id="nodeListSA">Select All</a>
          <a id="nodeListSN">Select None</a>
        </div>
        <form>
          <!--
          <div class="nodeContainer">
            <label>
              <input type="checkbox" name="node-hostname" id="node-hostname" value="" />
              <span class="nodeName">Hostname</span>
            </label>
            <input type="checkbox" name="power-hostname" id="power-hostname" value="" />
          </div>
          -->
        </form>
      </div>

      <div class="grid_7"><div id="detailsPane">
        <div id="graphWindowSel">
          <form>
            <input type="checkbox" id="graphWindow" name="graphWindow" checked="true" />
            <label for="graphWindow"></label>
          </form>
        </div>

        <div class="graphWindow">
          <h2>50 Sec. Graph (A)</h2>
          <canvas id="detailGraphCanvas" width="500" height="300"></canvas>
        </div>

        <div class="graphWindow">
          <h2>5 Min. Graph (A)</h2>
          <canvas id="graphCanvas" width="500" height="300"></canvas>
        </div>


      </div></div> <!-- / detailsPane, grid_7 -->
    </div> <!-- / container_12 -->
  </body>
</html>