<html>
  <head>
    <title>wifiWatt Control Panel</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <script type="text/javascript" src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script type="text/javascript" src="/static/wwApp.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/960.css" />
    <link rel="stylesheet" type="text/css" href="/static/text.css" />
    <link rel="stylesheet" type="text/css" href="/static/wwStyle.css" />
  </head>
  <body>
    <div id="console"></div>
      
    <div id="nodeList">
      <form>
        <!--
        <div class="nodeContainer">
          <label>
            <input type="checkbox" name="node-hostname" id="node-hostname" value="" />
            <span class="nodeName">Hostname</span>
          </label>
          <input type="checkbox" name="power-hostname" id="power-hostname" value="" />
        </div>
        -->
      </form>
    </div>
    <div id="detailsPane">
      <div id="graphWindowSel">
        <form>
          <label>
            <input type="checkbox" id="graphWindow" name="graphWindow" checked="true" />
            <p>
              <span>Hour</span>
              <span>Day</span>
          </label>
        </form>
      </div>
    </div>
  </body>
</html>